<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div><a ui-sref="login">Login</a></div>
            <div><a ui-sref="signup">Signup</a></div>
            <div><a ui-sref="forgotpassword">Forgot Password</a></div>
            <div><a ui-sref="forgotusername">Forgot Username</a></div>
        </div>
        <div class="col-lg-4">
            <h3>Follow</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3></h3>
            <ul>
                <li><a ui-sref="about">About</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a ui-sref="sitemap">Site Map</a></li>
                <li><a ui-sref="termsofuse">Terms Of Use</a></li>
                <li><a ui-sref="privacy">Privacy</a></li>
                <li>&copy; 2016 JazzyTrip.com</li>
            </ul>
        </div>
    </div>
</div>
