<div class="jt">
    <div class="margin wrapper">
        <div class="jumbotron">
            <h1>Planner</h1>
        </div>
    </div>

    <div class="activity">
        <div class="activity-wrapper user-activity">
            <div class="activity-container">
                <h3>User Activity</h3>
                <uib-accordion close-others="vm.oneAtATime">
                    <uib-accordion-group heading="{{activity.title}}" ng-repeat="activity in vm.userActivities">
                        {{activity.content}}
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>

        <div class="activity-wrapper new-activity">
            <div class="activity-container">
                <h3>New Activity</h3>
                <uib-accordion close-others="vm.oneAtATime">
                    <uib-accordion-group heading="{{activity.title}}" ng-repeat="activity in vm.newActivities">
                        {{activity.content}}
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>

        <a ui-sref="pnew">Show List</a>

        <div class="clearfix">&nbsp;</div>
    </div>
</div>
