<div class="container jt-container">
    <div class="jumbotron">
        <h1>Planner new</h1>
    </div>
    
    <div ht-widget-modal title="Login form" visible="vm.showModal" >
        <form role="form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.value" value="{{vm.value}}" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default" ng-click="vm.success()">Submit</button>
        </form>
    </div>
    
    <button ng-click="vm.toggleModal()" class="btn btn-default">Open modal {{vm.showModal}}</button>

    <div class="fb-test">
        <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>
    </div>

    <fb:login-button scope="public_profile,email" show-faces="true" onlogin="_fb.checkLoginState();" > </fb:login-button>
    <div id = "status" > </div>

    <button ng-click="vm.login()" class="btn btn-default">FB Login</button>
    <button ng-click="vm.logout()" class="btn btn-default">FB Logout</button>
</div>
