//Common
body {
    background-color: $color1;
    font-family: $font-secondary;
}

.slider-content {
    width: 100%;
    height: 500px;
    background-color: $color3;
}

.content {
    background-color: $color6;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
}

.jt-nav {
    background-color: $color1;
}

.jt {
    .container {
        margin: 50px auto 0 auto;
        width: 98%;
        //min-height: 500px;
    }

    .margin {
        margin-top: 50px;
    }

    .wrapper {
        //height: 600px;
    }

    .jumbotron {
        padding: 30px 15px;
        margin: 0;
    }
}

