//Common
body {
    background-color: $color1;
    font-family: $font-secondary;
}

.slider-content {
    width: 100%;
    height: 500px;
    background-color: $color3;
}

.content {
    background-color: $color6;
    margin-top: 50px;
    position: relative;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
}

.jt-nav {
    background-color: $color1;
    padding: 0;
    margin: 0;
    border: 0;
}

.jt {
    .container {
        margin: 50px auto 0 auto;
        width: 98%;
        //min-height: 500px;
    }

    .margin {
        margin-top: 50px;
        height: 0;
    }

    .wrapper {
        //height: 600px;
    }

    .jumbotron {
        padding: 30px 15px;
        margin: 0;
    }
}

.map-container, .view-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.spinner {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 40px;
    width: 100px;
    z-index: 9999;
}
.spinner-message {
    text-align: center;
    color: $color2;
}
