//Header

.logo {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 30px;
    color: $color4 !important;
    /*padding: 10px;
    text-shadow: 2px 1px 0 $color3;*/
}

.jt-menu {
    font-family: $font-secondary;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: $color2;
    color: $color3;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $color4;
}

.navbar-default .navbar-nav > li > a {
    color: $color5;
    font-family: $font-primary;
}

.jumbotron {
    background-color: $color3;
}
