//Home
/*.slide {
    width: 100%;
    height: 400px;
    margin: auto;
}

.slide-1{ background-color: $color4+100;}
.slide-2{ background-color: $color5+100;}
.slide-3{ background-color: $color6+100;}
.slide-4{ background-color: $color3+100;}
.slide-5{ background-color: $color2+100;}

#map {
  height: 400px;
  width: 100%;
  position: relative;
}*/

/* Home */
.home-dashboard {
    background-color: $color3;
    margin: 30px;
    padding: 10px;
    position: relative;
    //border: 1px solid $color5;
    @include border-radius(5px);
}

.home-header {
    //background-color: $color4;
    height: 50px;
    line-height: 50px;
    color: $color5;
    text-align: center;
}

/*.home-control {
    //height: 400px;
    overflow-x: auto;
    overflow-y: hidden;

    .control-wrapper {
        width: 290px * 5;
        //height: 400px;
    }
    
    .widget {
        background-color: $color6;
        color: $color1;
        width: 280px;
        height: 390px;
        @include border-radius(5px);
        padding: 5px;
        margin: 5px;
        float: left;
    }
}*/

.home-control {
    .control-wrapper {
        width: 100%;
    }
    
    .widget {
        background-color: $color6;
        color: $color1;
        width: 90%;
        //height: 200px;
        @include border-radius(5px);
        padding: 5px;
        margin: 5px auto;
    }
}

.home-footer {
    //background-color: $color5;
    height: 50px;
    line-height: 50px;
    color: $color5;
    text-align: center;
    clear: both;
}
