$font-primary: 'Roboto Condensed', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;
$font-logo: 'Bilbo', sans-serif;

$color1: #002F32; //* header, p
$color2: #42826C; //* background
$color3: #A5C77F; //* menu
$color4: #FFC861; //* logo
$color5: #C84663; //* ccaa66; /* h1
$color6: #E2E2C2; //* body background
