// base.scss
@import 'reset';
@import 'mixins';
@import 'inherit';
@import 'operator';

$font-stack:    Helvetica, sans-serif;
$primary-color: #313;

body {
  //font: 100% $font-stack;
    font-family: nova-mono;
  color: $primary-color;
}

.label a {
    color: #FF0;
}

.box { @include border-radius(10px); }

/* nesting */
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
